
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="text-center">
    <div class="text-danger">Access Denied</div>
    <div class="text-danger">You Don't have permission to visit this url</div>
</div>

